@use "../abstracts/variables" as *;
.top-nav{
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: start;
    justify-content: center;
}

.nav-list-item{
    text-decoration: none;
    display: flex;
    gap: .5rem;
    border-radius: .5rem;
    padding: .25rem .5rem;
    color: $clr-black;
    align-items: center;
    justify-content: center;
}

.nav-list-item:hover{
    background: $clr-whitebrown;
    color: $clr-white
}

@media screen and (max-width: 768px) {
    .top-nav {
        margin: 0 auto;
        width: 70%;
        align-items: center;
        gap: 1rem; 
      }
    
      .nav-list-item {
        padding: .25rem 1rem; 
        width: 100%; 
        text-align: center; 
      }
  }
