
@use "./base/reset";
@use "./abstracts/utils";
@use "./base/typography";
@use "./components/buttons";
@use "./components/cards";
@use "./layout/header";
@use "./layout/navigation";
@use "./layout/grid";
@use "./layout/forms";
@use "./layout/footer";
@use "./layout/sections";
@use "./abstracts/mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}